<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvodi</title>
</head>
<body>
    <nav>
        <a href="/sviproizvodi">Pogledaj sve proizvode</a>
        <a href="/dodajproizvod">Dodaj proizvod</a>
    </nav>
    <table>
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Kategorija</strong></td>
                <td><strong>Cena</strong></td>
                <td><strong>Tekst oglasa</strong></td>
                <td><strong>Oznake</strong></td>
            </tr>
        </thead>
        <tbody>
            #{dataproizvod}
        </tbody>
    </table>
    <table>
        <ahead>
            <tr>AKCIJE</tr><br>
            <tr>
                <td><strong>Cena</strong></td>
                <td><strong>Datum isteka</strong></td>
            </tr>
        </ahead>
    <abody>
        #{dataakcija}
    </abody>    
    </table><br>
    <form action="$[urldata]" method="post">
        <label>Dodajte akciju:</label>
        <br>
        <label for="datum">datum: </label>
        <input type="date" id="datum" name="datum" value="2021-04-25" min="2021-04-25" max="2022-04-25">
        <label>Cena:</label><input type="text" name="iznos">
        <select name="valuta" id="valuta">
            <option value="rsd">rsd</option>
            <option value="eur">eur</option>
            </select>
        <br>
        <button type="submit">Dodaj akciju</button>
    </form>
</body>
</html>