<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvodi</title>
</head>
<body>
    <nav>
        <a href="/sviproizvodi">Pogledaj sve proizvode</a>
        <a href="/dodajproizvod">Dodaj proizvod</a>
    </nav>
    <div>
        <form action="/filtrirajproizvodezakategoriju" method="post">
            <label for="">Naziv kategorije</label> <input type="text" name="kategorija"> <button type="submit">Filtriraj</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>kategorija</strong></td>
                <td><strong>Cena</strong></td>
                <td><strong>Tekst</strong></td>
                <td><strong>Oznake</strong></td>
                <td><strong>Akcija i datum isteka akcije</strong></td>
            </tr>
        </thead>
        <tbody>
            #{data}
        </tbody>
    </table>
</body>
</html>