<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvodi</title>
</head>
<body>
    <nav>
        <a href="/sviproizvodi">Pogledaj sve proizvode</a>
        <a href="/dodajproizvod">Dodaj proizvod</a>
    </nav>
    <div>
        <form action="/filtrirajproizvodezakategoriju" method="post">
            <label for="">Naziv kategorije</label> <input type="text" name="kategorija"> <button type="submit">Filtriraj</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <td><h4>ID</h4></td>
                <td><h4>Kategorija</h4></td>
                <td><h4>Cena</h4></td>
                <td><h4>Tekst</h4></td>
                <td><h4>Oznake</h4></td>
                <td><h4>Akcija i datum isteka akcije</h4></td>
            </tr>
        </thead>
        <tbody>
            #{data}
        </tbody>
    </table>
</body>
</html>